*{
    font-family: Manrope;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    display: inline;
    list-style: none;
}

ul li{
    display: inline;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.wrapper_all {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_wrapper {
    max-width: 69.375rem;
}

/*------------- header -------------*/

.header{
    width: 100%;
    position: sticky;
    top: 0px;
    height: 5rem;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}

.wrapper_header {
    width: 73.5rem;
    display: flex;
}

.header_menu {
    display: none;
    background-image: url(./Image/menu.png);
    width: 2.5rem;
    height: 1.3125rem;
    margin-bottom: 37px;;
    margin-left: 34px;
    margin-right: 0px;
}

.header_left{
    display: flex;
    align-items: center;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_logo_img{
    cursor: pointer;
}

.header_nav_first{
    margin-left: 3.8rem;
}

.li_nav_first{
    margin-right: 2rem;
}

.header_nav_second{
    margin-left: 15.1875rem;
}

.nav_text{
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.buttons_li{
    margin-inline: 0.4rem;
    justify-content: center;
}

.button_login{
    height: 2.5rem;

    border: 1px solid #2E1AAD;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;

    color: #2E1AAD;
    background: white;
    cursor: pointer;
    font-size: 14px;
}

.button_login:hover{
    background: #9288d2;
    color: white;
    border: 1px solid white;
}

.button_sign-up{
    height: 2.5rem;

    border-radius: 8px;
    padding-left: 23px;
    padding-right: 23px;

    background: #2E1AAD;
    color: white;
    cursor: pointer;
    font-size: 14px;

}

.button_sign-up:hover{
    color: white;
    background: #9288d2;
    border: 1px solid #9288d2;

}

.li_nav_second {
    margin-right: 2rem;
}

.underline_nav_first{
    position: absolute;
    width: 42px;
    height: 2px;
    margin-top: 3.1rem;

    background: #2E1AAD;
    visibility: hidden;
}

.underline_fourth{
    position: absolute;
    width: 100px;
    height: 2px;
    margin-top: 3.1rem;

    background: #2E1AAD;
    visibility: hidden;
}

.underline_fifth{
    position: absolute;
    width: 116px;
    height: 2px;
    margin-top: 3.1rem;

    background: #2E1AAD;
    visibility: hidden;
}

.for_headhunters_nav {
    margin-right: 3rem;
}

.home_nav:hover .home_p{
    color: #2E1AAD;
}

.home_nav:hover .underline_first{
    visibility: visible;
}

.news_nav:hover .news_p{
    color: #2E1AAD;
}

.news_nav:hover .underline_second{
    visibility: visible;
}

.about_nav:hover .about_p{
    color: #2E1AAD;
}

.about_nav:hover .underline_third{
    visibility: visible;
}

.for_employers_nav:hover .for_employers_p{
    color: #2E1AAD;
}

.for_employers_nav:hover .underline_fourth{
    visibility: visible;
}

.for_headhunters_nav:hover .for_headhunters_p{
    color: #2E1AAD;
}

.for_headhunters_nav:hover .underline_fifth{
    visibility: visible;
}



/*------------- get_everything_you_need -------------*/

.get_everything_you_need{
    width: 100%;
    height: 47.6875rem;
    background: #F5F7FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.4375rem;
}

.page_wrapper_get {
    width: 72.6875rem;
    margin-left: 10.1875rem;
    margin-right: 7.125rem;
}

.get_everything_you_need_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.aside_left_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30.25rem;
}

.get_everything_you_need_h1{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    color: #231F20;
    margin-bottom: 1.75rem;
    margin-top: 4rem;
}

.get_everything_you_need_p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #999999;
}

.search_bar{
    padding: 0 2rem;

    width: 69.375rem;
    height: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
    border-radius: 8px;
}

.job_title{
    width: 20.6875rem;
    height: 3.25rem;

    padding-left: 1rem;

    font-weight: 800;
    font-size: 16px;
    line-height: 22px;

    border: 1px solid #DDDDDD;
    border-radius: 8px;
    color: #999999;
}

.where{
    width: 18.1875rem;
    height: 3.25rem;

    padding-left: 1rem;

    font-weight: 800;
    font-size: 16px;
    line-height: 22px;

    border: 1px solid #DDDDDD;
    border-radius: 8px;
    color: #999999;
}

.distance{
    width: 14.8125rem;
    height: 3.25rem;

    padding-left: 1rem;

    font-weight: 800;
    font-size: 16px;
    line-height: 22px;

    border: 1px solid #DDDDDD;
    border-radius: 8px;
    color: #999999;
    cursor: pointer;
}

.search_button{
    width: 7.1875rem;
    height: 3.25rem;

    background: #2E1AAD;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.search_button:hover{
    color: white;
    background: #9288d2;
    border: 1px solid #9288d2;
}

/*------------- info_for -------------*/

.info_for{
    height: 131.0625rem;
    background: white;
    align-items: center;
    justify-content: center;
}

.page_wrapper_info_for {
    max-width: 69.375rem;
}

.for_candidates_section{
    display: flex;
    margin-top: 7rem;
}

.for_candidates_left{
    flex-direction: column;
    align-items: center;
    margin-right: 3.875rem;
}

.for_candidates_h2{
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    color: #231F20;
    margin-bottom: 3rem;
}

.for_candidates_text{
    width: 32.75rem;
    height: 26.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.for_candidates_text_column{
    width: 15.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apply_directly_to_employer_p{
    width: 12rem;
}

.feedback_on_all_applications{
    width: 16rem;
}

.first_text_blocks{
    height: 5.125rem;
    width: 15.375rem;
}

.for_candidates_h3{
    margin-bottom: 0.5rem;

    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #231F20;
}

.for_candidates_p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.for_employers_section{
    margin-top: 9.8rem;
    display: flex;
    flex-direction: row;
}

.for_employers_left{
    margin-top: -1.4rem;
    margin-right: 3.9rem;
}

.for_employers_h2{
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    color: #231F20;
    margin-bottom: 3rem;
}

.for_employers_text{
    width: 32.75rem;
    height: 31.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.for_employers_text_column{
    width: 15.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.for_employers_text_column_second{
    height: 18.6rem;
}

.second_text_blocks{
    width: 15.375rem;
    height: 4.5rem;
}

.for_employers_h3{
    margin-bottom: 0.5rem;

    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #231F20;
}

.for_employers_p_1{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.candidate_database_div{
    margin-top: -1.5rem;
}

.for_employers_button{
    width: 8.125rem;
    height: 3.25rem;

    margin-top: 1.5rem;

    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

    background: #2E1AAD;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.for_employers_button:hover{
    color: white;
    background: #9288d2;
    border: 1px solid #9288d2;
}

.for_headhunters_section{
    display: flex;
    flex-direction: row;
    margin-top: 8.5rem;
}

.for_headhunters_left{
    display: flex;
    flex-direction: column;
    margin-right: 3.8rem;
}

.for_headhunters_h2{
    margin-bottom: 3rem;

    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    color: #231F20;
}

.for_headhunters_text{
    width: 32.875rem;
    height: 18.5rem;
    display: flex;
    flex-direction: row;
}

.for_headhunters_text_column{
    width: 15.375rem;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.third_text_blocks{
    height: 6.75rem;
    width: 15.375rem;
}

.for_headhunters_h3{
    margin-bottom: 0.5rem;

    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #231F20;
}

.for_headhunters_p_1{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

.develop_stronger_client_relationships_div{
    margin-top: 0.8rem;
}

.weekly_progress_summary_div{
    margin-top: 0.5rem;
}

.for_headhunters_button{
    width: 9.375rem;
    height: 3.25rem;

    margin-top: 1.4rem;

    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

    background: #2E1AAD;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.for_headhunters_button:hover{
    color: white;
    background: #9288d2;
    border: 1px solid #9288d2;
}

.for_headhunters_image{
    margin-top: -6.2rem;
}

/*------------- our_client_speak -------------*/

.our_client_speak{
    width: 100%;
    height: 52.875rem;
    background: #ECF8FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
}

.page_wrapper_our_client{
    width: 69.375rem;
}

.our_client_speak_text{
    width: 26.6875rem;
    height: 5.875rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
}

.our_client_speak_h2{
    margin-bottom: 0.5rem;

    font-weight: 800;
    font-size: 40px;
    line-height: 56px;

    color: #231F20;
}

.our_client_speak_p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #999999;
}

.our_client_speak_carousel_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel_element{
    display: flex;
    flex-direction: column;
}

.white_block{
    width: 21.875rem;
    height: 25.625rem;

    background: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
    border-radius: 8px;
}

.stars{
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.block_text{
    width: 16.875rem;
    height: 8.75rem;
    margin-top: 1.4rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
}

.our_client_speak_h3{
    margin-bottom: 1rem;

    font-weight: 800;
    font-size: 20px;
    line-height: 28px;

    color: #231F20;
}

.our_client_speak_carousel_p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #231F20;
}

.photo_and_name{
    width: 12.9375rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
    margin-top: 5.9rem;
}

.photo{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.75rem;
}

.personal_info{
    width: 9.6875rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
}

.surname_name{
    margin-top: -0.2rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #231F20;
}

.company{
    margin-top: -0.1rem;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #999999;
}

.circles{
    width: 3.375rem;
    height: 0.875rem;

    margin: 3rem auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.carousel_circle:hover{
    background: aqua;
}

.carousel_circle{
    width: 8px;
    height: 8px;

    border-radius: 8px;
    background: #CCCCCC;
    cursor: pointer;
}

.active_circle{
    width: 14px;
    height: 14px;

    border: 3px solid #2E1AAD;
    box-sizing: border-box;
    background: #ECF8FE;
}



/*------------- some_count_that_matter -------------*/

.some_count_that_matter{
    width: 100%;
    height: 70.0625rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5rem;
}

.page_wrapper_some_count{
    max-width: 69.375rem;
}

.some_count_that_matter_text{
    width: 30.875rem;
    height: 5.875rem;
    display: flex;
    flex-direction: column;
}

.some_count_that_matter_h2{
    margin-bottom: 0.5rem;

    font-weight: 800;
    font-size: 40px;
    line-height: 56px;

    color: #231F20;
}

.some_count_that_matter_p{

    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    color: #999999;
}

.some_count_that_matter_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.5rem;
}

.some_count_that_matter_element{
    width: 255px;
    height: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #F5F7FA;
    border-radius:   16px;
}

.some_count_block_text{
    width: 10.4375rem;
    height: 5.375rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.some_count_that_matter_h3{
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;

    color: #231F20;
}

.some_count_that_matter_block_p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    color: #999999;
}

.happy_clients_img{
    margin-top: 2.75rem;
    margin-bottom: 0.875rem;
    margin-left: -0.8rem;
}

.projects_completed_img{
    margin-top: 2.0625rem;
    margin-bottom: 0.625rem;
    margin-left: -0.3rem;
}

.dedicated_members_img{
    margin-top: 2.75rem;
    margin-bottom: 0.8125rem;
}

.awards_won_img{
    margin-top: 2rem;
    margin-bottom: 0.40625rem;
}

.news_all_news{
    width: 69.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.6875rem;
}

.some_count_that_matter_news{
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;

    color: #231F20;
}

.all_news_block{
    width: 4.5625rem;
    height: 1.25rem;

    margin-top: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.all_news_p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #999999;
}

.all_news_block:hover .all_news_p{
    opacity: 0.5;
}

.all_news_block:hover .vector{
    opacity: 0.5;
}

.news_pictures_block{
    width: 69.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 3.6rem;
}

.news_picture_element{
    width: 21.875rem;
    height: 19.875rem;
    display: flex;
    flex-direction: column;
}

.news_block_text{
    height: 7rem;
    width: 21.875rem;
    margin-top: 1.3rem;

}

.news_picture_h3{
    margin-bottom: 0.75rem;

    font-weight: 800;
    font-size: 20px;
    line-height: 28px;

    color: #231F20;
}

.new_picture_p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #999999;
}

/*------------- pre-footer -------------*/

.pre-footer{
    width: 100%;
    height: 8.375rem;
    background: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_pre-footer{
    max-width: 42.5625rem;
    margin-left: 22.875rem;
    margin-right: 24.5625rem;

}

.pre-footer_block{
    width: 42.5625rem;
    height: 5.375rem;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: -0.5rem;
}

.pre-footer_p{
    width: 32.75rem;
    height: 5.375rem;

    font-weight: 800;
    font-size: 14px;
    line-height: 16px;

    color: #231F20;
}

.button_ok{
    width: 7rem;
    height: 2.5rem;

    margin-left: -0.5rem;
    margin-top: 0.6rem;

    font-weight: bold;
    font-size: 13px;
    line-height: 20px;

    text-align: center;

    color: #FFFFFF;

    background: #231F20;
    border-radius: 100px;
    cursor: pointer;
}

.button_ok:hover{
    background: #575556;
    border: 1px solid #575556;
}

/*------------- footer -------------*/

.footer{
    width: 100%;
    height: 22.5rem;
    background: #0B0D17;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_footer{
    max-width: 69.375rem;
    display: flex;
    flex-direction: row;
}


.company_info{
    width: 350px;
    height: 133px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-right: 7.8125rem;
}

.i-tapp_h2{
    margin-bottom: 2.5rem;

    font-weight: 800;
    font-size: 30px;
    line-height: 37px;

    text-transform: uppercase;

    color: #FFFFFF;
}

.copyright{
    width: 21.875rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
}

.copyright_p{
    margin-bottom: 0.5rem;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #D9DBE1;
}

.all-rights_reserved{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #D9DBE1;
}

.links_block{
    width: 29.6875rem;
    height: 14.375rem;
    display: flex;
    flex-direction: row;
}

.footer_h3{
    margin-bottom: 1.5rem;

    font-weight: 800;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
}

.company_links_ul{
    width: 11.5625rem;
    height: 11.125rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company_links{
    margin-right: 1.875rem;
}

.jobs_links_ul{
    width: 10rem;
    height: 6.375rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #D9DBE1;
    cursor: pointer;
}

.footer_p:hover{
    color: #7a90d2;
}

@media (max-width: 320px) {

    /*------------- header -------------*/

    .wrapper_header {
        width: 280px;
        display: flex;
    }

    .header_nav_first{
        display: none;
    }

    .header_nav_second{
        display: none;
    }

    .nav_buttons{
        margin-left: 0.5rem;
        width: 9em;
    }

    .header_nav_second{
        visibility: hidden;
    }

    .wrapper_header{
        width: 256px;
    }

    .buttons_li{
        margin-inline: 0rem;
    }

    .button_login{
        padding-left: 13px;
        padding-right: 13px;
    }

    .button_sign-up{
        padding-left: 6px;
        padding-right: 6px;
    }

    /*------------- get_everything_you_need -------------*/

    .get_everything_you_need{
        height: 70rem;
    }

    .page_wrapper_get {
        width: 260px;
        margin-left: 8rem;
    }

    .get_everything_you_need_top {
        flex-direction: column;
        margin-bottom: 3rem;

    }

    .aside_left_main{
        width: 14rem;
        margin-top: -5rem;
        margin-left: 0rem;
    }

    .get_everything_you_need_image{
        width: 275px;
        height: 230px;
        margin-left: -1rem;
    }

    .get_everything_you_need_h1{
        font-size: 30px;
    }

    .get_everything_you_need_p{
        font-size: 14px;
    }

    .search_bar{
        width: 15rem;
        height: 16rem;

        display: flex;
        flex-direction: column;
    }

    .job_title{
        width: 15rem;
    }

    .where{
        width: 15rem;
    }

    .distance{
        width: 15rem;
    }

    .search_button{
        width: 15rem;
    }

    /*------------- info_for -------------*/

    .info_for{
        height: 215rem;
    }

    .page_wrapper_info_for {
        max-width: 255px;
    }

    .for_candidates_section{
        flex-direction: column;
    }

    .for_candidates_text{
        flex-direction: column;
        width: 16.375rem;
        height: 13.0625rem;
    }

    .for_candidates_image{
        width: 275px;
        height: 230px;
        margin-top: 30rem;
        margin-left: -1.5rem;
    }

    .for_employers_section{
        margin-top: 3rem;
        flex-direction: column-reverse;
    }

    .for_employers_text{
        flex-direction: column-reverse;
        width: 250px;
    }

    .candidate_database_div{
        margin-top: 0rem;
    }

    .second_text_blocks{
        width: 15.375rem;
        height: 5.5rem;
    }

    .for_employers_h2{
        margin-bottom: 15rem;
    }

    .for_employers_image{
        width: 280px;
        height: 250px;
        margin-top: 2rem;
        margin-left: -1.5rem;
    }

    .reduce_annual_recruitment_costs_div{
        height: 6.5rem;
    }

    .for_headhunters_section{
        margin-top: 3rem;
        flex-direction: column;
    }

    .for_headhunters_text{
        flex-direction: column-reverse;
        width: 250px;
    }

    .for_headhunters_h2{
        margin-bottom: 17rem;
    }

    .for_headhunters_image{
        width: 280px;
        height: 250px;
        margin-top: 2rem;
        margin-left: -1.5rem;
    }

    /*------------- our_client_speak -------------*/

    .page_wrapper_our_client{
        width: 255px;
    }

    .our_client_speak_text{
        width: 250px;
        margin-left: 1rem;
        margin-bottom: 8rem;
    }

    .white_block{
        width: 15.875rem;
    }

    .carousel_first{
        visibility: hidden;
        position: absolute;
    }

    .block_text{
        width: 12.875rem;
        margin-left: 1rem;
    }

    .stars{
        margin-left: 1rem;
    }

    .photo_and_name{
        margin-left: 1rem;
    }

    .carousel_third{
        position: absolute;
        visibility: hidden;
    }

    /*------------- some_count_that_matter -------------*/

    .some_count_that_matter{
        height: 175rem;
    }

    .page_wrapper_some_count{
        width: 260px;
    }

    .some_count_that_matter_text{
        width: 16rem;
        margin-left: 1rem;
        margin-bottom: 8rem;
    }

    .some_count_that_matter_block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3.5rem;
    }

    .some_count_that_matter_element{
        margin-bottom: 1rem;
    }

    .news_all_news{
        width: 250px;
        margin-top: 2rem;
    }

    .news_pictures_block{
        width: 250px;
        flex-direction: column;
    }

    .news_picture_element{
        width: 250px;
    }

    .news_picture_image{
        width: 230px;
    }

    .news_block_text{
        width: 230px;
        margin-bottom: 8rem;
    }

    .news_picture_h3{
        margin-bottom: 0.75rem;

        font-weight: 800;
        font-size: 20px;
        line-height: 28px;

        color: #231F20;
    }

    .new_picture_p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        color: #999999;
    }

    /*------------- pre-footer -------------*/

    .pre-footer{
        width: 100%;
        height: 20rem;
    }

    .wrapper_pre-footer{
        width: 260px;
    }

    .pre-footer_block{
        width: 250px;

        margin-top: -7rem;
        flex-direction: column;
    }

    .pre-footer_p{
        width: 250px;
        margin-left: 0.5rem;
    }

    .button_ok{
        margin-top: 8rem;
        margin-left: 1rem;
    }

    /*------------- footer -------------*/

    .footer{
        width: 100%;
        height: 40rem;
    }

    .wrapper_footer{
        width: 260px;
        display: flex;
        flex-direction: column-reverse;
    }


    .company_info{
        width: 250px;
        margin-top: 14rem;
        margin-right: 0;
    }

    .i-tapp_h2{
        margin-bottom: 1rem;
    }

    .copyright{
        width: 250px;
    }

    .copyright_p{
        font-size: 12px;
    }

    .all-rights_reserved{
        font-size: 12px;
    }

    .links_block{
        width: 250px;
        flex-direction: column;
    }

    .company_links_ul{
        width: 170px;
    }

    .jobs_links{
        margin-top: 2rem;
    }

    .company_links{
        margin-right: 1.875rem;
    }

}